@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<IPublishedContent>
@using Umbraco.Membership;
@{ 
    IPublishedContent member = Umbraco.MembershipHelper.GetCurrentMember();
    var selection = Model.Content.PermittedChildren(member);
    
    var site = Model.Content.Site();
}

<a class="nav-link @Html.Raw(Model.Content.Id == site.Id ? "navi-link--active" : "")" href="@site.Url">@site.Name</a>
@foreach (var item in selection)
{
    <a class="nav-link @(item.IsAncestorOrSelf(Model.Content) ? "nav-link--active" : null)" href="@item.Url">@item.Name</a>
}