@using ODK.Umbraco.Web.Mvc;
@using ODK.Website.Models.PayPal;
@model PayPalButtonViewModel

@using (Html.BeginUmbracoForm("Create", "Payments", FormMethod.Post, new { data_execute_form = "#execute-payment" }))
{
    <div class="row">
        <div class="col-8">Type</div>
        <div class="col-2">Price</div>
        <div class="col-2">Quantity</div>
    </div>
    for (int i = 0; i < Model.Options.Length; i++)
    {
        PayPalOptionViewModel option = Model.Options[i];
        HtmlHelper<PayPalOptionViewModel> optionHelper = Html.For<PayPalOptionViewModel>(option);

        <div class="row">
            @Html.HiddenFor(x => x.Options[i].Id)

            <div class="col-8">@option.Title</div>
            <div class="col-2">@option.GetFormattedAmount(Model.CurrencySymbol)</div>
            <div class="col-2">
                <select name="@Html.NameFor(x => x.Options[i].Quantity)" class="form-control">
                    @for (int o = 0; o <= option.MaxItems; o++)
                    {
                        <option>@o</option>
                    }
                </select>
            </div>
        </div>
    }

    <div class="paypal-button"></div>
}

@using (Html.BeginUmbracoForm("Execute", "Payments", FormMethod.Post, new { id = "execute-payment" }))
{

}