@using ODK.Umbraco.Content;
@using ODK.Umbraco.Members;
@inherits ODK.Umbraco.Web.Mvc.OdkUmbracoTemplatePage
@{
    IPublishedContent homePage = HomePage;
    IPublishedContent member = CurrentMember;
    MemberModel memberModel = CurrentMemberModel;

    IEnumerable<IEnumerable<IPublishedContent>> menuItemGroups = homePage.MenuItemGroups(member, 5);

    IPublishedContent logo = HomePage.GetHomePageValue<IPublishedContent>("siteLogo");

    IPublishedContent loginPage = member == null ? LoginPage : null;
    string loginUrl = loginPage != null ? loginPage.Url : null;
    string loginButtonText = member == null ? homePage.GetHomePageValue<string>("loginButtonText") : null;

    IPublishedContent registerPage = member == null ? homePage.GetHomePageValue<IPublishedContent>("registerPage") : null;
    string registerUrl = registerPage != null ? registerPage.Url : null;
    string registerButtonText = member == null ? homePage.GetHomePageValue<string>("registerButtonText") : null;

    IPublishedContent profilePage = member != null ? memberModel.Chapter.GetPropertyValue<IPublishedContent>("profilePage") : null;
    string profileUrl = profilePage != null ? profilePage.Url : null;

    IPublishedContent adminPage = memberModel != null && memberModel.AdminUserId != null ? memberModel.Chapter.GetPropertyValue<IPublishedContent>("adminPage") : null;
    string adminUrl = adminPage != null ? adminPage.Url : null;

    string logoutButtonText = member != null ? homePage.GetHomePageValue<string>("logoutButtonText") : null;
    string logoutUrl = "/umbraco/surface/account/logout";
}

@if (logo != null)
{
    <div class="bg-dark text-center">
        <a href="@homePage.Url"><img class="logo--main" src="@logo.Url" /></a>
    </div>
}

<nav class="navbar navbar--top navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        @if (logo == null)
        {
            <a class="navbar-brand" href="@homePage.Url">
                @homePage.Name
            </a>
        }

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse flex-column" id="navbarSupportedContent">
            @foreach (IEnumerable<IPublishedContent> menuItemGroup in menuItemGroups)
            {
                <ul class="navbar-nav mr-auto">
                    @foreach (var item in menuItemGroup)
                    {
                        <li class="nav-item">
                            <a class="nav-link @(item.IsAncestorOrSelf(Model.Content) ? "active" : null)" href="@item.Url">@item.Name</a>
                        </li>
                    }
                </ul>
            }
        </div>

        <div class="account-links align-middle-x">
            @if (member == null)
            {
                <a class="btn btn-primary" href="@loginUrl">@loginButtonText</a>

                if (!string.IsNullOrEmpty(registerUrl))
                {
                    <a class="btn btn-success" href="@registerUrl">@registerButtonText</a>
                }
            }
            else
            {
                <div class="dropdown">
                    <div class="text-light account-links__user" data-toggle="dropdown">
                        <i class="fa fa-user-o fa-2x"></i>
                    </div>
                    <div class="dropdown-menu dropdown-menu-right" role="menu">
                        @if (!string.IsNullOrEmpty(profileUrl))
                        {
                            <a class="dropdown-item" href="@profileUrl">My profile</a>
                        }
                        <a class="dropdown-item" href="@memberModel.Chapter.Url">@memberModel.Chapter.Name</a>
                        @if (!string.IsNullOrEmpty(adminUrl))
                        {
                            <a class="dropdown-item" href="@adminUrl">Admin</a>
                            <a class="dropdown-item" href="/umbraco" target="_blank">Back office</a>
                        }
                        <a class="dropdown-item" href="@logoutUrl">@logoutButtonText</a>
                    </div>
                </div>
            }
        </div>
    </div>
</nav>