@using ODK.Umbraco.Settings;
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{    
    HomePageSettings homePageSettings = Model.Content.HomePageSettings();
    if (homePageSettings == null)
    {
        return;
    }
}

<div class="logo">
    @if (homePageSettings.Logo != null && !string.IsNullOrEmpty(homePageSettings.Content.Url))
    {
        <div class="nav-link--home">
            <a href="@homePageSettings.Content.Url">
                <img class="logo-image" src="@homePageSettings.Logo.Url" alt="@homePageSettings.Name">
            </a>
        </div>
    }
    else
    {
        <a class="nav-link nav-link--home nav-link--home__text logo-text" href="@homePageSettings.Content.Url">@homePageSettings.Name</a>
    }
</div>