@using ODK.Umbraco.Membership;
@using ODK.Umbraco.Settings;
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    HomePageSettings homePageSettings = Model.Content.HomePageSettings();

    IPublishedContent home = homePageSettings.Content;
    IPublishedContent member = Umbraco.MembershipHelper.GetCurrentMember();
    IEnumerable<IPublishedContent> selection = home.MenuItems(member);
    
    string loginButtonText = homePageSettings.GetPropertyValue<string>("loginButtonText");
    IPublishedContent loginPage = homePageSettings.GetPropertyValue<IPublishedContent>("loginPage");
    string loginUrl = loginPage != null ? loginPage.Url : null;
    IPublishedContent logo = homePageSettings.GetPropertyValue<IPublishedContent>("siteLogo");
    string logoutButtonText = homePageSettings.GetPropertyValue<string>("logoutButtonText");
    string logoutUrl = "/umbraco/surface/account/logout";
    string registerButtonText = homePageSettings.GetPropertyValue<string>("registerButtonText");
    IPublishedContent registerPage = homePageSettings.GetPropertyValue<IPublishedContent>("registerPage");
    string registerUrl = registerPage != null ? registerPage.Url : null;
}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="@homePageSettings.Content.Url">
            @if (logo != null && !string.IsNullOrEmpty(homePageSettings.Content.Url))
            {
                <img src="@logo.Url" alt="@homePageSettings.Name" height="40">
            }
            else
            {
                @homePageSettings.Name
            }
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                @foreach (var item in selection)
                {
                    <li class="nav-item">
                        <a class="nav-link @(item.IsAncestorOrSelf(Model.Content) ? "active" : null)" href="@item.Url">@item.Name</a>
                    </li>
                }

                <li class="nav-item d-md-none">
                    @LogoutLink("", logoutUrl, logoutButtonText)
                </li>
            </ul>

            <div>
                @if (member == null)
                {
                    if (!string.IsNullOrEmpty(loginUrl))
                    {
                        <a class="btn btn-primary" href="@loginUrl">@loginButtonText</a>
                    }

                    if (!string.IsNullOrEmpty(registerUrl))
                    {
                        <a class="btn btn-success" href="@registerUrl">@registerButtonText</a>
                    }
                }
                else
                {
                    @LogoutLink("btn btn-light d-none d-lg-block", logoutUrl, logoutButtonText)
                }
            </div>
        </div>
    </div>
</nav>

@helper LogoutLink(string cssClass, string url, string text)
{
    <a class="@cssClass" href="@url">@text</a>
}