@using ODK.Umbraco.Members;
@using ODK.Umbraco.Payments;
@using ODK.Umbraco.Web.Mvc;
@using ODK.Website.Models.PayPal;
@inherits ODK.Umbraco.Web.Mvc.OdkUmbracoTemplatePage
@{
    Layout = "Master.cshtml";

    MemberModel member = CurrentMemberModel;
    HtmlHelper<MemberModel> memberHelper = Html.For<MemberModel>(member);

    IPublishedContent[] subscriptions = Model.Content.Children.ToArray();

    string currencyCode = HomePage.GetPropertyValue<string>("payPalCurrencyCode");
    string paypalButtonId = HomePage.GetPropertyValue<string>("payPalSubscriptionsButtonId");

    MemberPayment lastPayment = PaymentService.GetLastPayment(CurrentMember.Id);
}

@if (Request.QueryString["payment"] == "cancelled")
{
    <div class="container">
        <div class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
            Payment cancelled
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
}

@if (Request.QueryString["payment"] == "complete")
{
    <div class="container">
        <div class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
            Payment complete
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
}

<div class="content">
    <div class="container">
        <div class="row">
            @if (member.Type != MemberTypes.None)
            {
                <div class="col-6">
                    <div class="form-group">
                        @memberHelper.LabelFor(x => x.Type, "Current membership type", new { @class = "form-control-label" })
                        <span class="form-control-plaintext">@member.Type</span>
                    </div>
                </div>
            }
            @if (lastPayment != null)
            {
                @*
                    <div class="col-6">
                        <div class="form-group">
                            <label class="form-control-label">Last payment</label>
                            <span class="form-control-plaintext">@GetAmount(lastPayment.CurrencyCode, lastPayment.Amount) on @lastPayment.Date.ToString("dd MMMM yyyy")</span>
                        </div>
                    </div>
                *@
            }
        </div>

        <h1>@(CurrentMemberModel.Type != MemberTypes.Trial ? "Renew" : "Buy")</h1>
        @if (subscriptions.Length == 1)
        {
            @*
            IPublishedContent subscription = subscriptions.Single();
            <h3>@subscription.GetPropertyValue("title")</h3>
            @Html.Raw(subscription.GetPropertyValue("description"))
            @PaymentButton(subscription, paypalButtonId)
            *@
        }
        else
        {
            <div id="subscriptionTypes">
                @for (int i = 0; i < subscriptions.Length; i++)
                {
                    @SubscriptionAccordionItem(subscriptions[i], paypalButtonId, i == 0)
                }
            </div>
        }
    </div>
</div>

<div id="paypal-button"></div>

@helper SubscriptionAccordionItem(IPublishedContent subscription, string paypalButtonId, bool expanded)
{
    PayPalButtonViewModel viewModel = new PayPalButtonViewModel(paypalButtonId, HomePage, subscription);
    PayPalOptionViewModel option = viewModel.Options.Single();
    string type = option.Name.Replace(" ", "-");

    <div class="card">
        <div class="card-header" id="heading-@type">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-@type" aria-expanded="true" aria-controls="collapse-@type">@option.Title</button>
            </h5>
        </div>

        <div id="collapse-@type" class="collapse @Html.Raw(expanded ? "show" : null)" aria-labelledby="heading-@type" data-parent="#subscriptionTypes">
            <div class="card-body">
                @Html.Raw(option.Description)

                @Html.Partial("PayPalButton", viewModel)
            </div>
        </div>
    </div>
}

@section Scripts
{
    @Scripts.Render("~/bundles/js/account")
}