@using ODK.Umbraco.Events;
@inherits ODK.Umbraco.Web.Mvc.OdkUmbracoTemplatePage
@{
    Layout = "Master.cshtml";

    EventModel eventModel = new EventModel(Model.Content);

    bool restricted = CurrentMember == null && !eventModel.Public;
    if (restricted)
    {
        Response.Redirect(Model.Content.Parent.Url);
    }

    string mapApiKey = Model.Content.Site().GetPropertyValue<string>("googleMapsApiKey");
    string mapUrl = "https://www.google.com/maps/embed/v1/place?key=" + mapApiKey + "&q=" + eventModel.MapQuery;
}
<section class="section section--main">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-8">
                <h2>@eventModel.Location</h2>
                <h2>@eventModel.Date.ToString("dd MMMM yyyy")</h2>
                <p>
                    <a class="d-md-none" href="#map">@eventModel.Address</a>
                    <span class="d-none d-md-inline">@eventModel.Address</span>
                </p>

                @Html.Raw(eventModel.Description)

                <div class="d-none d-md-block">
                    @RenderMap(mapUrl)
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="sidebar" data-ajax-container>
                    @Html.Action("EventSidebar", "Events", new { eventId = Model.Content.Id })
                </div>
            </div>
            <div class="col-lg-9 col-md-8 d-md-none mt-5" id="map">
                @RenderMap(mapUrl)
            </div>
        </div>
    </div>
</section>

@helper RenderMap(string url)
{
    <iframe width="100%" height="450" frameborder="0" style="border:0" src="@url" allowfullscreen></iframe>
}