@using System.Collections.Generic;
@using ODK.Umbraco.Events;
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Master.cshtml";
	
	IPublishedContent member = Umbraco.MembershipHelper.GetCurrentMember();
	EventService eventService = new EventService(Model.Content, member);
	
	EventSearchCriteria criteria = new EventSearchCriteria
	{
	    
	};
	IEnumerable<EventModel> events = eventService.SearchEvents(criteria);
}

@Html.Partial("SectionHeader")

<div class="container">
    
    <section class="section">
        <div id="calendar"></div>
    </section>
    
    <div class="d-none">
        <section class="section">
            <table id="events">
                <thead>
                    <tr>
                        <th>Url</th>
                        <th>Date</th>
                        <th>Location</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (EventModel ev in events)
                    {
                        <tr>
                            <td>@ev.Url</td>
                            <td>@ev.Date.ToString("yyyy-MM-dd")</td>
                            <td>@ev.Location</td>
                        </tr>   
                    }
                </tbody>
            </table>
        </section>
    </div>
</div>

@section Header
{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.2/fullcalendar.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.2/fullcalendar.print.css" />
    <link rel="stylesheet" href="@Url.Content("~/css/calendar.css")" />
}

@section Scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.2/fullcalendar.min.js"></script>
    <script src="@Url.Content("~/Scripts/calendar.js")"></script>
}