@using ODK.Umbraco.Events;
@using ODK.Umbraco.Settings;
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Master.cshtml";

	EventModel eventModel = new EventModel(Model.Content);

	bool restricted = Umbraco.MembershipHelper.GetCurrentMember() == null && !eventModel.Public;
	if (restricted)
	{
	    Response.Redirect(Model.Content.Parent.Url);
	}

	HomePageSettings homePageSettings = Model.Content.HomePageSettings();

	string mapApiKey = Model.Content.Site().GetPropertyValue<string>("googleMapsApiKey");
	string mapUrl = "https://www.google.com/maps/embed/v1/place?key=" + mapApiKey + "&q=" + eventModel.MapQuery;
}

@Html.Partial("SectionHeader")

<section class="section section--main">
    <div class="container event">
        <h2>@eventModel.Location</h2>
        <h2>@eventModel.Date.ToString("dd MMMM yyyy")</h2>
    
        @Html.Raw(eventModel.Description)
    
        <iframe width="600" height="450" frameborder="0" style="border:0" src="@mapUrl" allowfullscreen></iframe>
    </div>
</section>