@using Newtonsoft.Json.Linq;
@using ODK.Umbraco.Content;
@inherits ODK.Umbraco.Web.Mvc.OdkUmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}

@foreach (IPublishedContent section in Model.Content.Children().Where(x => !x.IsPage()))
{
    string cssClass = "";
    string style = "";

    bool sectionHasContent = section.HasChildContent("heroContent");

    string overlayType = section.GetPropertyValue<string>("heroOverlayType");
    if (!string.IsNullOrEmpty(overlayType))
    {
        cssClass += " overlay overlay--" + overlayType.ToLower();
    }

    IPublishedContent backgroundImage = section.GetPropertyValue<IPublishedContent>("heroBackgroundImage");
    if (backgroundImage != null && sectionHasContent)
    {
        style += "background-image: url('" + backgroundImage.Url + "')";
        cssClass += " background-image-full";
    }

    if (sectionHasContent)
    {
        <section class="section section--hero section--content-center @cssClass" style="@style">
            <div class="section--hero__content">
                @Html.GetGridHtml(section, "heroContent", "bootstrap3-fluid")
            </div>
        </section>
    }
    else if (backgroundImage != null)
    {
        <img class="img--hero" src="@backgroundImage.Url" />
    }
}

@section PageHeader
{
}

@section Header
{
    <link href="@Url.Content("~/css/home.css")?v=3" rel="stylesheet" />
}