@using ODK.Umbraco.Content;
@using ODK.Umbraco.Members;
@using ODK.Umbraco.Web.Mvc;
@using ODK.Website.Controllers;
@using ODK.Website.Models;
@inherits ODK.Umbraco.Web.Mvc.OdkUmbracoTemplatePage
@{
    Layout = "Master.cshtml";

    LoginModel loginModel = GetInvalidModel<LoginModel>();
    bool isError = loginModel != null;

    HtmlHelper<LoginModel> loginHelper = Html.For<LoginModel>(loginModel != null ? loginModel : new LoginModel());
    HtmlHelper<RequestPasswordResetViewModel> passwordResetHelper = Html.For<RequestPasswordResetViewModel>(new RequestPasswordResetViewModel());

    string loginButtonText = HomePage.GetHomePageValue<string>("loginButtonText");
}

<section class="section section--main">
    <div class="container">
        <div id="login-accordion">
            <div id="login-form" class="collapse show" data-parent="#login-accordion">
                @using (Html.BeginUmbracoForm<AccountController>("Login", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-group">
                        @loginHelper.LabelFor(x => x.Email)
                        @loginHelper.TextBoxFor(x => x.Email, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @loginHelper.LabelFor(x => x.Password)
                        @loginHelper.TextBoxFor(x => x.Password, new { @class = "form-control", type = "password" })
                    </div>

                    if (isError)
                    {
                        <div class="text-danger w-100">
                            The @loginHelper.DisplayNameFor(x => x.Email) or @loginHelper.DisplayNameFor(x => x.Password) is incorrect
                        </div>
                    }

                    <div class="row">
                        <div class="col-6">
                            <button type="submit" class="btn btn-primary">@loginButtonText</button>
                        </div>
                        <div class="col-6">
                            <div class="float-right">
                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#request-password-reset-form">
                                    Forgotten password?
                                </button>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div id="request-password-reset-form" class="collapse" data-parent="#login-accordion">
                <p>
                    Enter your registered email address below to receive a link that will enable you to reset your password.
                    The link will remain active for 30 minutes.
                </p>

                @using (Html.BeginUmbracoForm("RequestPasswordReset", "Account", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-group">
                        @passwordResetHelper.TextBoxFor(x => x.Email, new { @class = "form-control", id = "password-reset-email" })
                        @passwordResetHelper.ValidationMessageFor(x => x.Email)
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#login-form">Cancel</button>
                    </div>
                }
            </div>
        </div>
    </div>
</section>