@using ODK.Umbraco.Content;
@using ODK.Umbraco.Members;
@using ODK.Umbraco.Settings;
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;

    IPublishedContent member = Umbraco.MembershipHelper.GetCurrentMember();
    if (Model.Content.IsRestricted(member))
    {
        Response.Redirect(Model.Content.Parent.Url);
    }

    IPublishedContent homePage = Model.Content.HomePage();

    int stylesheetVersion = 3;
}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>@GetTitle(homePage)</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/fontawesome.css" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/solid.css" rel="stylesheet" />
    <link rel="stylesheet" href="@Url.Content("~/css/style.css")?v=@stylesheetVersion" />

    @foreach (string stylesheet in GetStylesheets(homePage))
    {
        <link rel="stylesheet" href="@Url.Content("~/css/" + stylesheet + ".css")?v=@stylesheetVersion" />
    }

    <link href="https://fonts.googleapis.com/css?family=Josefin%20Sans:Light" rel="stylesheet" />

    @RenderSection("Header", required: false)
</head>
<body class="page--@Model.Content.Name">
    <header>
        @Html.Partial("TopNavigation")
    </header>
    @Html.Partial("Feedback")
    <main>
        @RenderBody()
    </main>
    <footer>
        @Html.Partial("Footer")
    </footer>

    @Html.Partial("Login")

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="@Url.Content("~/scripts/script.js")"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>

@functions
{
    string GetTitle(IPublishedContent homePage)
    {
        return Model.Content.Id == homePage.Id
            ? homePage.Name
            : string.Format("{0} | {1}", Model.Content.Name, homePage.Name);
    }

    IEnumerable<string> GetStylesheets(IPublishedContent homePage)
    {
        return homePage.AncestorsOrSelf()
                       .Reverse()
                       .GetPropertyValues<string>("stylesheet")
                       .SelectMany(x => x.Split(';'));
    }
}