@using ODK.Umbraco.Content;
@inherits ODK.Umbraco.Web.Mvc.OdkUmbracoTemplatePage
@{
    Layout = null;

    if (IsRestricted)
    {
        return;
    }

    string favicon = HomePage.GetHomePageValue<IPublishedContent>("favicon").Url;
    int scriptVersion = 6;
    int stylesheetVersion = 13;
}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>@GetTitle(HomePage)</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" href="@favicon?v=4" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/fontawesome.css" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/brands.css" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/solid.css" rel="stylesheet" />
    <link rel="stylesheet" href="@Url.Content("~/css/style.css")?v=@stylesheetVersion" />

    @foreach (string stylesheet in GetStylesheets(HomePage))
    {
        <link rel="stylesheet" href="@Url.Content("~/css/" + stylesheet + ".css")?v=@stylesheetVersion" />
    }

    <link href="https://fonts.googleapis.com/css?family=Josefin%20Sans:Light" rel="stylesheet" />

    @RenderSection("Header", required: false)
</head>
<body class="page--@Model.Content.Name.ToLower()">
    <header>
        @Html.Partial("TopNavigation")
    </header>
    <main>
        @if (IsSectionDefined("PageHeader"))
        {
            @RenderSection("PageHeader", required: false)
        }
        else
        {
            @Html.Partial("PageHeader")
        }

        @Html.Partial("Feedback")

        @RenderBody()
    </main>
    <footer>
        @Html.Partial("Footer")
    </footer>

    @Html.Partial("Login")

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="@Url.Content("~/scripts/script.js")?v=@scriptVersion"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>

@functions
{
    string GetTitle(IPublishedContent homePage)
    {
        return Model.Content.Id == homePage.Id
            ? homePage.GetPropertyValue<string>("siteName")
            : string.Format("{0} | {1}", Model.Content.Name, homePage.GetPropertyValue<string>("siteName"));
    }

    IEnumerable<string> GetStylesheets(IPublishedContent homePage)
    {
        return homePage.AncestorsOrSelf()
                       .Reverse()
                       .GetPropertyValues<string>("stylesheet")
                       .SelectMany(x => x.Split(';'));
    }
}