@using ODK.Umbraco.Members;
@inherits ODK.Umbraco.Web.Mvc.OdkUmbracoTemplatePage
@{
    Layout = "Master.cshtml";

    int chapterId = HomePage.Id;
    IReadOnlyCollection<MemberModel> members = MemberService.GetMembers(chapterId)
                                                            .OrderBy(x => x.FirstName)
                                                            .ThenBy(x => x.LastName).ToArray();

    string memberUrl = Model.Content.GetPropertyValue<IPublishedContent>("memberProfilePage").Url;
}

@Html.Partial("SectionHeader")

<section class="section">
    <div class="container">
        <div class="row">
            @foreach (MemberModel member in members)
            {
                @RenderMember(member, memberUrl)
            }
        </div>
    </div>
</section>

@helper RenderMember(MemberModel member, string memberUrl)
{
    <div class="card member-tile">
        <a href="@memberUrl?id=@member.Id">
            @if (member.Picture != null)
            {
                <img class="card-img-top" src="@member.Picture.GetCropUrl(height: 150)" alt="Photo of @member.FirstName">
            }
            <div class="member-tile__footer">
                @member.FirstName @member.LastName
            </div>
        </a>
    </div>
}