@using System.Web.Mvc;
@using ODK.Umbraco.Content;
@using ODK.Umbraco.Members;
@using ODK.Umbraco.Settings;
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";

    IPublishedContent member = Umbraco.MembershipHelper.GetCurrentMember();
    if (member != null)
    {
        Response.Redirect(Model.Content.Parent.Url);
        return;
    }

    IPublishedContent homePage = Model.Content.HomePage();

    string registerButtonText = homePage.GetHomePageValue<string>("registerButtonText");

    RegisterMemberModel model = TempData["Model"] as RegisterMemberModel;
    if (model == null)
    {
        model = new RegisterMemberModel(homePage, Umbraco);
    }
}

@Html.Partial("SectionHeader")

@Html.Partial("Content")

<div class="container">
    @using (Html.BeginUmbracoForm("Register", "Account", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary("", new { @class = "text-danger" })

        @Html.Partial("MemberForm", model)

        <div>
            <button type="submit" class="btn btn-primary">@registerButtonText</button>
        </div>
    }
</div>