@using ODK.Umbraco.Web.Mvc;
@using ODK.Website.Controllers;
@using ODK.Website.Models;
@inherits ODK.Umbraco.Web.Mvc.OdkUmbracoTemplatePage
@{
    Layout = "Master.cshtml";

    string token = Request.QueryString["token"];
    if (!MemberService.IsValidPasswordResetRequestToken(token))
    {
        Response.Redirect(HomePage.Url);
        return;
    }

    PasswordResetViewModel model = GetInvalidModel<PasswordResetViewModel>();
    HtmlHelper<PasswordResetViewModel> passwordResetHelper = Html.For<PasswordResetViewModel>(model != null ? model : new PasswordResetViewModel());
}

<section class="section section--main">
    <div class="container">
        <p>
            Enter your new password below and re-enter in the confirm text box. If successful, you will be redirected to the login page.
        </p>

        @using (Html.BeginUmbracoForm<AccountController>("ResetPassword", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <input type="hidden" name="token" value="@token" />

            <div class="form-group">
                @passwordResetHelper.LabelFor(x => x.Password)
                @passwordResetHelper.TextBoxFor(x => x.Password, new { @class = "form-control", type = "password" })
                @passwordResetHelper.ValidationMessageFor(x => x.Password)
            </div>

            <div class="form-group">
                @passwordResetHelper.LabelFor(x => x.ConfirmPassword)
                @passwordResetHelper.TextBoxFor(x => x.ConfirmPassword, new { @class = "form-control", type = "password" })
                @passwordResetHelper.ValidationMessageFor(x => x.ConfirmPassword)
            </div>

            <button type="submit" class="btn btn-primary">Reset</button>
        }
    </div>
</section>