@using ODK.Umbraco.Events;
@using ODK.Umbraco.Members;
@using ODK.Website.Models;
@inherits ODK.Umbraco.Web.Mvc.OdkUmbracoTemplatePage
@{
    IEnumerable<MemberTypes> memberTypes = Enum.GetValues(typeof(MemberTypes)).Cast<MemberTypes>();
    IEnumerable<SelectListItem> memberTypeOptions = memberTypes
        .Where(x => x != MemberTypes.None)
        .Select(x => new SelectListItem { Value = ((int)x).ToString(), Text = x.ToString(), Selected = x == MemberTypes.Trial || x == MemberTypes.Partial || x == MemberTypes.Full });

    IPublishedContent eventsPage = Model.Content.GetPropertyValue<IPublishedContent>("eventsPage", true);
    EventModel[] nextEvents = EventService.GetNextEvents(eventsPage, CurrentMember).ToArray();
    IEnumerable<SelectListItem> nextEventOptions = nextEvents
        .Select(x => new SelectListItem { Value = x.Id.ToString(), Text = x.Location + string.Format(" ({0:dd MMMM})", x.Date) });
}

@using (Html.BeginUmbracoForm("SendEventInvite", "Admin", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group row">
        <label for="eventId" class="col-form-label col-3 col-md-2 text-right">Event</label>
        <div class="col-9 col-md-10">
            @Html.DropDownList("eventId", nextEventOptions, "--Select--", new { id = "eventId", @class = "form-control js-events" })
        </div>
    </div>

    foreach (var eventModel in nextEvents)
    {
        <input type="hidden" class="js-event-invite-subject" data-event-id="@eventModel.Id" value="@eventModel.InviteEmailSubject" />
        <input type="hidden" class="js-event-invite-body" data-event-id="@eventModel.Id" value="@eventModel.InviteEmailBody" />

        <div class="js-event-details d-none" data-event-id="@eventModel.Id">
            @if (eventModel.InviteSentDate != null)
            {
                <div class="alert alert-danger col-9 col-md-10 offset-3 offset-md-2" role="alert">
                    Invite sent: @eventModel.InviteSentDate.Value.ToString("dd MMMM yyyy")
                </div>
            }
        </div>
    }

    <div class="form-group row">
        <label for="event-invite-memberTypes" class="col-form-label col-3 col-md-2  text-right">Member types</label>
        <div class="col-9 col-md-10">
            @Html.ListBox("memberTypes", memberTypeOptions, new { id = "event-invite-memberTypes", @class = "js-chosen form-control" })
        </div>
    </div>

    @Html.Partial("Admin/_Email", new EmailViewModel("event-invite"))
}